<div class="article__content">
    
    <h1> Photoshoot made right in the middle of the nature </h1>
    
    <div class="article-info">
        <span class="article-info__author article-info__pill"> Bogdan V. </span>
        <span class="article-info__date article-info__pill"> July 21st, 2015 </span>
    </div>
</div>

