<section class="article__details">
        <div class="article__img">
            <img src="../../assets/images/article_details/Layer%209.png">
        </div>
        <div class="article__content">
            <p>Ice cream powder danish chupa chups jelly-o cheesecake. Sweet I
            love chupa chups carrot cake jelly liquorice candy canes. Liquorice
            carrot cake croissant marshmallow caramels sesame snaps. Pie I love
            gummies chocolate pastry chocolate bar danish pastry. I love halvah
            oat cake jelly beans. Muffin I love sugar plum I love cake dessert. Ice
            cream marzipan carrot cake. Biscuit marshmallow cotton candy
            toffee.</p>
        </div>
</section>
