<section class="article__details">
        <div class="article__img">
       <!--     <img src="../../assets/images/article_details/Layer%209.png"> -->
        </div>
        <div class="article__content"></div>
</section>