<div class="article__content--full">
    
    <h1> Photoshoot made right in the middle of the nature </h1>
    
    <div class="article-informations">
        <span class="article-informations__author"> Bogdan V. </span>
        <span class="article-informations__date"> July 21st, 2015 </span>
    </div>
</div>

