<section class="article__details">
        
        {{>partials/article-title}}

        <div class="article__gallery">
        </div>

        <div class="article__body">
        </div>

</section>

