<div class="article__content">
    
    <h1 class="article__title"> Photoshoot made right in the middle of the nature </h1>
    
    <div class="article__informations">
        <span class="article__author article_info"> Bogdan V. </span>
         <span class="article__date article_info"> July 21st, 2015 </span>
         <span class="article__gallery article_info"> Photo Gallery </span>
    </div>
</div>

