<div class="article__title">
    
    <h1> Photoshoot made right in the middle of the nature </h1>
    
    <div class="article__informations">
        <span class="article__author"> Bogdan V. </span>
         <span class="article__date"> July 21st, 2015 </span>
    </div>
</div>

