<div class="article__content--full">
    
    <h1 class="title"> </h1>
    
    <div class="article-informations">
        <span class="article-informations__author"> </span>
        <span class="article-informations__date"> </span>
    </div>
</div>

