<footer class="footer">
	<div class="footer__content">
		
		<div class="footer__subscribe" style="display:none;">
			<div class="subscribe--input">
				<input type="text" name="newsletter" data-role="none" placeholder="Subscribe to our newsletter">
				<div class="subscribe--action">
				
				</div>
			</div>
		</div>

		<div class="footer__logo">
			<img src="assets/images/footer/logo.jpg">
		</div>
		
	</div>
</footer>

