<footer class="footer">
	<div class="footer__content">
		
		<div class="footer__subscribe">
			<div class="subscribe--input">
				<input type="text" name="newsletter" data-role="none" placeholder="Subscribe to our newsletter">
				<div class="subscribe--action">
				
				</div>
			</div>
		</div>

		<div class="footer__logo">
			<img src="assets/images/footer/logo.jpg">
		</div>
		
	</div>
</footer>
<script>
(function ($) {
	$(document).ready(function () {
				var $input = $('[name =\'newsletter\']');
				var $footerSubscribe = $('.footer__subscribe');
				var isSubscribed = THUNDERSTORM.modules.persistence.get({sourceName : 'subscribed'});
				if (isSubscribed === true) {
          	$footerSubscribe.hide();
        }
				
				$input.keypress(function (e) {
						var $this = $(this);
						var value = $this.val();
						var emailList;
						if (e.keyCode === 13) {
							if (isEmail(value)) {
									window.localStorage.setItem('subscribed', 'true');
									emailList = JSON.parse(window.localStorage.getItem('emailList')) || [];
									emailList.push(value);
									window.localStorage.setItem('emailList', JSON.stringify(emailList));
									$footerSubscribe.hide();
							} else {
								alert('fail');
							}
						}
				});
		
				function isEmail(email) {
					var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
					return regex.test(email);
				}
	});
}(window.jQuery));
</script>

