	
<footer>

	<div class="search">
       <!--<input type="inputtext" name="search" id="search" placeholder="Search article"/>
       <input type="button" class="searchButton" value="Check search"/>-->

       <p class="hideError"> No articles were found to match you search. </p>
    </div>

</footer>
	