<header class='topheader'>
    <div class='leftthird'>
        <label for="menuHamburger">
            <img class="menu" src="assets/images/header/menu.png" />
        </label>
        <input type="checkbox" id="menuHamburger">
    </div>
    <div class='righttwothirds'>
        <div class='centerdiv'>
            <a href="/">
                <img class="logo" src="assets/images/header/logo1.png" />
            </a>
        </div>
        <div class='rightminidiv'>
            <label for="userProfile">
                <img class="profile" src="assets/images/header/profile.png">
            </label>
            <input type="checkbox" id="userProfile">
        </div>
    </div>
</header>

{{>partials/left_menu}}
{{>partials/right_menu}}