<header>
    <div class="header__hamburger">
        <img src="assets/images/header/menu.png" />
    </div>
    <div class="header__logo">
        <a href="/">
            <img src="assets/images/header/logo.png" />
        </a>
    </div>
    <div class="header__profile">
        <img src="assets/images/header/profile.png">
    </div>
</header>

