<header>
    <div class='menu-hamburger'>
        <div class="menu">
            <img class="menu-icon" src="assets/images/header/menu.png" />
        </div>
    </div>
    <div class='logo-user'>
        <div class='logo'>
            <a href="/">
                <img class="logo-icon" src="assets/images/header/logo1.png" />
            </a>
        </div>
        <div class='user'>
            <div class="user-profile">
                <img class="user-icon" src="assets/images/header/profile.png">
            </div>
        </div>
    </div>
</header>

{{>partials/left_menu}}
{{>partials/right_menu}}