<!--header-->

<header class='topheader'>
    <div class='leftthird'>
        <label for="menuHamburger"><img class="menu" src="assets/images/header/menu.png" /></label>
    </div>
    <div class='righttwothirds'>
        <div class='centerdiv'>
            <a href="/"><img class="logo" src="assets/images/header/logo1.png" /></a>
        </div>
        <div class='rightminidiv'><img class="profile" src="assets/images/header/profile.png">
            <input type="checkbox" id="menuHamburger">
        </div>
    </div>
</header>

{{>partials/left_menu}}