<article class="latest__article" xmlns="http://www.w3.org/1999/html">
    <div class="article__content">
        <h2 class="article__title">
            Cupcaking
        </h2>
        <div class="article__informations">
            <span class="article__author article_info">
                Ciba Mumu
            </span>
            <span class="article__date article_info">
                    July 21st
            </span>
            <span class="article__gallery article_info">
                    Photo Gallery
            </span>
        </div>
        <div class="article__picture">
            <img src="../../assets/images/main/Layer%207.png">
        </div>
        <p class="article_description">
            Ice cream powder danish chupa chups jelly-o cheesecake. Sweet I
            love chupa chups carrot cake jelly liquorice candy canes. Liquorice
            carrot cake croissant marshmallow caramels sesame snaps. Pie I love
            gummies chocolate pastry chocolate bar danish pastry. I love halvah
            oat cake jelly beans. Muffin I love sugar plum I love cake dessert. Ice
            cream marzipan carrot cake. Biscuit marshmallow cotton candy
            toffee.
        </p>
        
        <button class="btn btn--more">Read more</button>
    </div>

    <div class="article__img">
        <img src="../../assets/images/main/Layer%207.png">
    </div>
</article>
<div class="clearfix"></div>