<!--left navigation menu -->
<div class="left-menu-backdrop hide">
    <nav class="menu-left">
        <ul>
            <li><div for="menuHamburger" class="menu arrow hide-menu"></div></li>
            <li><input type="search" class="search-article" placeholder=" Search an article"/></li>
            <li><p class="hideError errorContainer"></p></li>
            <li><a href="#" class="editor-mode disc">Editor mode</a></li>
            <li><a class="link" href="#">Reosurces</a></li>
            <li><a class="left-word" href="/article?0">jQuery</a></li>
            <li><a class="left-word" href="article?1">JavaScriptPatterns</a></li>
        </ul>
    </nav>
</div>

<!--end of left navigation menu-->
<script src="assets/js/UI/hamburger.js"></script>