<nav class="slider-menu  menu-left">
    <div class="scrolling">
        <div for="menu" class="left-arrow"></div>
        <input type="search" class="search-article" placeholder="Search an article"/>
        <p class="error"></p>
        <div class="editor-list">
            <h2> Editor mode </h2>
        </div>
        <div class="resources-list">
            <h2> Resources </h2>
            <ul>
                <li><a href="/article?0">jQuery1</a></li>
                <li><a href="/article?1">JavaScriptPatterns2</a></li>
                <li><a href="/article?0">jQuery3</a></li>
                <li><a href="/article?1">JavaScriptPatterns4</a></li>
                <li><a href="/article?0">jQuery5</a></li>
                <li><a href="/article?1">JavaScriptPatterns6</a></li>
                <li><a href="/article?0">jQuery7</a></li>
                <li><a href="/article?1">JavaScriptPatterns8</a></li>
                <li><a href="/article?0">jQuery9</a></li>
                <li><a href="/article?1">JavaScriptPatterns10</a></li>
            </ul>
        </div>
    </div>
</nav>

<script src="assets/js/UI/menu-slider.js"></script>