<!--left navigation menu -->
<nav class="menu-left">
    <ul>
        <li><label for="menuHamburger"><img class="menu hide-menu" src="assets/images/left_menu/arrow.png" /></label></li>
        <li><input type="search" class="search-article" placeholder=" Search an article"/></li>
        <li><p class="hideError errorContainer"></p></li>
        <li><a href="#" class="editor-mode"><img class="disc" src="assets/images/left_menu/disc.png"/>Editor mode</a></li>
        <li><a class="bordernone" href="#"><img class="link" src="assets/images/left_menu/link.png" />Reosurces</a></li>
        <li><a class="left-word" href="/article?0">jQuery</a></li>
        <li><a class="left-word" href="article?1">JavaScriptPatterns</a></li>
    </ul>
</nav>
<!--end of left navigation menu-->
<script src="assets/js/UI/hamburger.js"></script>