<section class="action" style="text-align: center;padding:20px;">
    <button class="load-more" data-page = "1" data-role="none">
        <img src="assets/images/ico/load_more.png" class="load-moreimg">Load More
    </button>
</section>