<main role="main" class="main">

	<div class="article-wrapper">
		<article>
	   		<h2>1</h2>
	  		<div class="article-content">
		    	<div class="article-info">  
			      	<span class="article-info__author article-info__pill">Ciba Mumu</span>
			      	<span class="article-info__date article-info__pill">July 21st</span>
			      	<span class="article-info__gallery article-info__pill">Photo Gallery</span>			      	
			    	<img src="../assets/images/ico/article-img.png">
		    	</div>  
		    	<p>Ice cream powder danish chupa chups jelly-o cheesecake. Sweet I love chupa chups carrot cake jelly liquorice candy canes.</p>
		    	<button class="btn btn--more">Read more</button>
	  		</div>
		</article>
	</div>


	<div class="article-wrapper">
		<article>
	   		<h2>2</h2>
	  		<div class="article-content">
		    	<div class="article-info">  
			      	<span class="article-info__author article-info__pill">Ciba Mumu</span>
			      	<span class="article-info__date article-info__pill">July 21st</span>
			      	<span class="article-info__gallery article-info__pill">Photo Gallery</span>
			    	<img src="../assets/images/ico/article-img.png">
		    	</div>  
		    	<p>Ice cream powder danish chupa chups jelly-o cheesecake. Sweet I love chupa chups carrot cake jelly liquorice candy canes.</p>
		    	<button class="btn btn--more">Read more</button>
	  		</div>
		</article>
	</div>


	<div class="article-wrapper">
		<article>
	   		<h2>3</h2>
	  		<div class="article-content">
		    	<div class="article-info">  
			      	<span class="article-info__author article-info__pill">Ciba Mumu</span>
			      	<span class="article-info__date article-info__pill">July 21st</span>
			      	<span class="article-info__gallery article-info__pill">Photo Gallery</span>			      	
			    	<img src="../assets/images/ico/article-img.png">
		    	</div>  
		    	<p>Ice cream powder danish chupa chups jelly-o cheesecake. Sweet I love chupa chups carrot cake jelly liquorice candy canes.</p>
		    	<button class="btn btn--more">Read more</button>
	  		</div>
		</article>
	</div>



	<div class="article-wrapper">
		<article>
	   		<h2>4</h2>
	  		<div class="article-content">
		    	<div class="article-info">  
			      	<span class="article-info__author article-info__pill">Ciba Mumu</span>
			      	<span class="article-info__date article-info__pill">July 21st</span>
			      	<span class="article-info__gallery article-info__pill">Photo Gallery</span>			      
			    	<img src="../assets/images/ico/article-img.png">
		    	</div>  
		    	<p>Ice cream powder danish chupa chups jelly-o cheesecake. Sweet I love chupa chups carrot cake jelly liquorice candy canes.</p>
		    	<button class="btn btn--more">Read more</button>
	  		</div>
		</article>
	</div>


	<div class="article-wrapper">
		<article>
	   		<h2>5</h2>
	  		<div class="article-content">
		    	<div class="article-info">  
			      	<span class="article-info__author article-info__pill">Ciba Mumu</span>
			      	<span class="article-info__date article-info__pill">July 21st</span>
			      	<span class="article-info__gallery article-info__pill">Photo Gallery</span>			      	
			    	<img src="../assets/images/ico/article-img.png">
		    	</div>  
		    	<p>Ice cream powder danish chupa chups jelly-o cheesecake. Sweet I love chupa chups carrot cake jelly liquorice candy canes.</p>
		    	<button class="btn btn--more">Read more</button>
	  		</div>
		</article>
	</div>

 
	<div class="article-wrapper">
		<article>
	   		<h2>6</h2>
	  		<div class="article-content">
		    	<div class="article-info">  
			      	<span class="article-info__author article-info__pill">Ciba Mumu</span>
			      	<span class="article-info__date article-info__pill">July 21st</span>
			      	<span class="article-info__gallery article-info__pill">Photo Gallery</span>			      	
			    	<img src="../assets/images/ico/article-img.png">
		    	</div>  
		    	<p>Ice cream powder danish chupa chups jelly-o cheesecake. Sweet I love chupa chups carrot cake jelly liquorice candy canes.</p>
		    	<button class="btn btn--more">Read more</button>
	  		</div>
		</article>
	</div>
</main>