<main role="main" class="main main--homepage">
</main>
<section class="action clearfix" style="text-align: center;padding:20px;">
<<<<<<< HEAD
  <button class="load-more" id="load-more">Load More</button>
=======
  <button class="load-more" style="display: inline-block; padding:10px;" data-page = "1">Load More</button>
>>>>>>> 1c722fba2a3adf466ac38ab6c3384c481eeb6239
</section>