<main role="main" class="main">
</main>
<section class="action" style="text-align: center;padding:20px;">
  <button class="load-more" style="display: inline-block; padding:10px;">Load More</button>
</section>