<main role="main" class="main main--homepage">
</main>
<section class="action clearfix" style="text-align: center;padding:20px;">
  <button class="load-more" style="display: inline-block; padding:10px;" data-page = "1">Load More</button>
</section>