<div class="right-menu-backdrop hide">
    <nav class="menu-right">
        <div class="user-details">
            <label for="user-profile">
                <img class="user" src="assets/images/right_menu/user.png" />
            </label>
            <h1 class="user-name">Dragos Cilibiu</h1>
        </div>
        <div class="article-recent">
            <h2 class="title-recent"></h2>
        </div>
    </nav>
</div>

<script src="assets/js/UI/author-details.js"></script>