<nav class="slider-menu menu-right">
    <div class="scrolling">
        <div class="user-details">
            <h2 for="user-profile">Dragos Cilibiu</h2>
        </div>
        <div class="article-recent">
            <h2 class="title-recent">Most Recent Articles</h2>
        </div>
    </div>
</nav>
