<nav class="menu-right">
    <ul>
        <li>
            <label for="userProfile"><img class="user" src="assets/images/right_menu/user.png" /></label>
        </li>
        <li>
            <img class="file" src="assets/images/right_menu/file.png"/>Most recent articles
        </li>
    </ul>
</nav>

<script src="assets/js/UI/author-details.js"></script>