<!--right navigation menu -->
<nav class="menu-right">
    <ul>
        <li>
            <label for="userProfile"><img class="user" src="assets/images/right_menu/user.png" /></label>
        </li>
        <li>
            <a href="#"><img class="file" src="assets/images/right_menu/file.png"/>Most recent articles</a>
        </li>
    </ul>
</nav>
<!--end of right navigation menu-->
<script src="assets/js/UI/author-details.js"></script>