<section class="slider">
  <div class="slider__slide">
    <div class="slider__meta">
      <h2>this is your final project</h2>
      <p>Something amazing to build as a team, work together, collaborate and show your team spirit.</p>
    </div>
    <img src = "assets/images/slider-img1.png" alt="slider image 1"/>
  </div>
  <div class="slider__controlls">
    <a href="#" class="bubble bubble--active"></a>
    <a href="#" class="bubble"></a>
    <a href="#" class="bubble"></a>
  </div>
</section>