<section class="slider">
  <div class="slider__slides">
    <div class="slider__slide">
      <div class="slider__meta">
        <h2>this is your final project</h2>
        <p>Something amazing to build as a team, work together, collaborate and show your team spirit.</p>
      </div>
      <img src = "assets/images/slider/1.png" alt="slider image 1"/>
    </div><!--
    --><div class="slider__slide">
      <div class="slider__meta">
        <h2>You'll never walk alone</h2>
        <p>For we are all a team in some way or another.</p>
      </div>
      <img src = "assets/images/slider/2.png" alt="slider image 1"/>
    </div><!--
    --><div class="slider__slide">
      <div class="slider__meta">
        <h2>May the force be with you</h2>
        <p>young padawan..</p>
      </div>
      <img src = "assets/images/slider/3.png" alt="slider image 1"/>
    </div>
  </div>
  <div class="slider__controlls">
    <a href="#" class="bubble bubble--active" data-index="1"></a>
    <a href="#" class="bubble" data-index="2"></a>
    <a href="#" class="bubble" data-index="3"></a>
  </div>
</section>
<div style="clear:both"></div>
