.article__body{
  font-family:'Lato'!important;
}

.article__body h2{
  color: #515151;
}

table{
  border-collapse: collapse;
}

table td, table th{
  border:1px solid #cecece;
  padding: 6px 10px;
}

th a{
  display:block;
}

.pull-left{
  text-align: left;
}

p{
  text-align: justify;
  margin-top:1em;
  margin-bottom: 1em;
  color: #828282;
}

.article__body li{
  color: #828282;
  padding: 5px;
}

.aligncenter{
    display: block;
    margin: 0px auto;
}

.article__body a{
  color: #219bce;
  text-decoration: none;
}

.article__body a:hover{
  color: #219bce;
  text-decoration: none;
}
.article__body img{
  margin:0px auto;
  display:block;
}
.article__gallery img{
  max-width:100%;
  margin-top:10px;
}
code{
  color: #000;
}
.size-full {
      max-width:100%;
      height:auto;
}

.size-medium {
  max-width:50%;
  height:auto;
}

@media only screen and (max-width: 599px){
 table{
  display:none;
 }
}