.article__details {
  width: 100%;
  height: auto;
  margin: 0 auto;

  .article__content--full {
      height: auto;
      font-family: 'Lato';
  
      h1 {
          font-family: 'Lato';
          font-size: 30px;
          padding: 80px 0px 20px 0px;
      }
  
      .article-informations {
          color: #828282;
          font-family: 'Lato';
          font-size: 18px;
          height: 20px;
          padding: 0px 20px 20px 0px;
  
          .article-informations__author {
              background: url("../images/ico/user.png") no-repeat left;
              padding-left: 20px;
              padding-right: 15px;
              display: inline-block;
              font-family: 'Lato';
              font-size: @desktop-font-size;
              color: @article-author-color;
          }
  
          .article-informations__date {
              background: url("../images/ico/calendar.png") no-repeat left;
              padding-left: 20px;
              padding-right: 15px;
              display: inline-block;
              font-family: 'Lato';
              font-size: @desktop-font-size;
              color: @article-author-color;
          } 
      }
  }

  .article__body{
    font-family:'Lato';
    a{
      color: #219bce;
      text-decoration: none;
      &:hover{
        color: #219bce;
        text-decoration: none;
      }
    }
    h2{
      color: #515151;
    }
    
    table{
      border-collapse: collapse;
      td, th{
        border:@standard-border;
        padding: 6px 10px;
        
        a{
          display:block;
        }
      }
    }
    
    img{
      margin:0px auto;
      display:block;
      max-width:100%;
    }
    
    code{
      color: #000;
    }
    
    p{
      text-align: justify;
      margin-top:1em;
      margin-bottom: 1em;
      color: #828282;
    }
    
    li{
      color: #828282;
      padding: 5px;
    }
    
    .pull-left{
      text-align: left;
    }
    
    .aligncenter{
      display: block;
      margin: 0px auto;
    }
    
    .size-full {
      max-width:100%;
      height:auto;
    }
    
    .size-medium {
      max-width:50%;
      height:auto;
    }
    .toolbar_item {
        display: none;
    }
    .table-wrapper{
      width: 100%;
      overflow-x: auto;
      border: @standard-border;
    }
  }

  .article__gallery {
    width: 100%;
    max-height: 440px;
    overflow: hidden;
    margin: 0 0 30px 0;
    position: relative;

    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      max-width: 100%;
      margin-top:20px;
    }
  
    .hidden {
      display: none;
    }

    .button__gallery {
      background: #FFFFFF;
      border-radius: 5px;
      height: 80px;
      color: #e1632a;
      width: 215px;
      font-family: Lato;
      position: absolute;
      left: 50%;
      margin-left: -107px;
      top: 50%;
      margin-top: -40px;
      padding: 28px 28px 28px 0px;
      box-sizing: border-box;
      font-size: 21px;
      -webkit-box-shadow: -2px 1px 51px 5px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: -2px 1px 51px 5px rgba(0, 0, 0, 0.5);
      box-shadow: -2px 1px 51px 5px rgba(0, 0, 0, 0.5);
      text-align: right;

      &:hover {
        cursor: pointer;
        background-color: #EEE;
      }

      i {
        background: url("../images/ico/gallery.jpg") no-repeat;
        display: block;
        position: absolute;
        height: 32px;
        width: 32px;
        left: 30px;
        top: 50%;
        margin-top: -16px;
      }
    }
  }
  .hasGallery{
    img{
      opacity:0.6;
    }
  }
}






.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 99;
  
  .modal {
    display:none;
    background-color: #fff;
    border: 1px solid #fff;
    left: 0;
    margin: 0 auto;
    max-height: 800px;
    max-width: 70%;
    min-height: 150px;
    position: relative;
    right: 0;
    top: 15%;
    
    ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      
    }

    .modal-control {
      display: block;
      position: absolute;
      background-color: rgba(128, 128, 128, 0.2);
      z-index:5;
      height: 78px;
      width: 54px;
      top: 50%;
      margin-top: -39px;
    }

    &__close.modal-control {
      height: 54px;
      width: 54px;
      background:rgba(128, 128, 128, 0.2) url('../images/gallery/close-btn.png') no-repeat top left;
      right: 15px;
      top: 10px;
      margin-top: 0;
    }
    
    &__prev {
      background: url('../images/gallery/prev-btn.png') no-repeat -3px 0px;
      left: 15px;
    }

    &__next {
      background: url('../images/gallery/next-btn.png') no-repeat top left;
      right: 15px;
      margin-top: -39px;
    }

    &__source {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 10px;
      background-color: white;
      display: inline-block;
      text-decoration: none;
      color: #828282;
      
      &:hover {
        text-decoration: underline;
      }
    }
    &__images {
        min-height: 230px;
        img{
          max-width: 100%;
          max-height: 100%;
          position: relative;
          left: 0;
          right: 0;
          margin: 0px auto;
          display: block;
        }
    } /* \ &__images */
  } /* \ .modal */
} /* \  .overlay */

.overlay {
  display: none;
}

