
@media only screen and (min-width:1200px) and (max-width: 1500px){
  .content{
    width:900px;
  }
}

@media only screen and (min-width:800px) and (max-width: 1199px){
  .content{
    width:700px;
  }
}

@media only screen and (min-width:599px) and (max-width: 799px){
  .content{
    padding:0px 40px;
    box-sizing:border-box;
  }
  td.gutter{
    display:none;
  }
  .line{
    word-break: break-word;
  }
}

@media only screen and (max-width: 599px){
  .content{
    padding:0px 20px;
    box-sizing:border-box;
  }
  td.gutter{
    display:none;
  }
  .line, a{
    word-break: break-word;
  }
  .article__body img{
     height:50%;
  }
 
}


