.latest__article{
    margin: 0px auto;
    width: 1170px;
    height: 372px;
    border: 1px solid @article-border-color;
    box-shadow: 0px 5px 5px 0px @article-shadow-color;
    margin-bottom: 50px;
    position: relative;
    .article__content{
        width: 50%;
        height: 377px;
        float:left;

        .article__title{
            font-family: 'Lato-Black';
            font-size: 21px;
            color: @article-header-color;
            padding: 30px 30px 0px 30px;
            height: 50px;
        }

        .article__title:hover{
            color: @title-hover;
            cursor: pointer;
        }

        .article__informations{
            padding: 0px 0px 14px 30px;
            font-family: 'Lato-Regular';
            
            .article__author.article_info{
                font-size: 18px;
                color: @article-author-color;
                display: inline-block;
            }
            
            .article_info{
                padding-left: 20px;
                padding-right: 20px;
            }
            
            .article__date.article_info{
                font-size: 18px;
                color: @article-author-color;
                display: inline-block;
            }
            
            .article__author{
                background: @author-ico no-repeat;
                display: inline-block;
            }
            
            .article__date{
                background: @date-ico no-repeat;
                display: inline-block;
            }
            
            .article__gallery{
                background: @gallery-ico no-repeat;
                font-size: 18px;
                color: @article-author-color;
                display: inline-block;
            }
        }

        .article_description{
            font-size: 18px;
            color: @article-description-color;
            text-align: justify;
            padding: 12px 30px 0px 30px;
            font-family: 'Lato-Regular';
            line-height: 1.2;
            height: 32%;
            overflow: hidden;
            word-break: break-word;
        }
    }

    .article__img{
        width: 50%;
        height: 100%;
        float: right;
        cursor: pointer; 
        opacity: 0.8;
        -webkit-opacity: 2;
        -moz-opacity: 2;
        transition: 2s ease;
        -webkit-transition:2s ease;
        -moz-transition: 2s ease;

        img{
            height: 100%;
            margin-right: auto;
            margin-left: auto;
            display: block;
            width: 100%;
        }
    }

    .article__img:hover{ 
        box-sizing: border-box;
        border-radius: 1%;
        -webkit-transform: rotateY(360deg);
        -webkit-transform-style: preserve-3d;
        transform: rotateY(360deg);
        transform-style: preserve-3d;

        img{
            height: 98%;
            margin-right: auto;
            margin-left: auto;
            display: block;
            -webkit-transition: all 2s ease;
            transition: all 2s ease;
        }
    }
}

.article__picture img{
    display: none;
    cursor: pointer;
    opacity: 0.8;
    -webkit-opacity: 2;
    -moz-opacity: 2;
    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
}

.article__picture img:hover{
    box-sizing: border-box;
    border-radius: 1%;
        -webkit-transform: rotateY(360deg);
        -webkit-transform-style: preserve-3d;
        transform: rotateY(360deg);
        transform-style: preserve-3d;

}

.clearfix{
    clear:both;
}

.article-wrapper {
    width: 31.625%;
    float: left;
    box-sizing: border-box;
    vertical-align: top;
    margin-bottom: 30px;
    margin-right: 2.565%;
    position: relative;
}

.article-wrapper article {
    background-color: @btn-background-color;
    border: 1px solid @article-border-color;
    box-shadow: 0px 5px 5px 0px @article-shadow-color;
    color: @article-description-color;
}

.article-wrapper article img {  
    max-width: 100%;
    max-height: 100%;
    -webkit-opacity: 2;
    -moz-opacity: 2;
    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    cursor: pointer;
    margin-left: auto;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-right: auto;
    display: block;
}

.article-wrapper article img:hover {
        -webkit-transform: rotateY(360deg);
        -webkit-transform-style: preserve-3d;
        transform: rotateY(360deg);
        transform-style: preserve-3d;

}

.article-wrapper article p {
    font-size: @desktop-font-size;
    color: @article-description-color;
    padding: 30px;
    font-family: 'Lato-Regular';
    text-align: justify;
    overflow: hidden;
    height: 55px;
    line-height: 1.2;
    word-break: break-word;
}

.btn--more {
    margin: 20px 0px 30px 30px;
    width: 133px;
    height: 43px;
    font-family: 'Lato-Regular';
    font-size: @desktop-font-size;
    color: @article-header-color;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: @article-header-color;
    background-color: @btn-background-color;
    outline:none;
}

.article__photo {
	height: 180px;
	margin-top: 30px;
	position: relative;
}

.btn--more:hover{
    color: @load-more-color;
    border: 1px solid @load-more-color;
    cursor: pointer;
}

.article-wrapper article:after {
    clear: both;
}

.article-content {
    box-sizing: border-box;
    font-size: @desktop-font-size;
}

.article-info__date {
    background: @date-ico;
    font-size: @desktop-font-size;
    color: @article-author-color;
    line-height: 1.4;
}

.article-info__author {
    background: @author-ico;
    padding-left: 30px;
    font-size: @desktop-font-size;
    color: @article-author-color;
    line-height: 1.4;
}

.article-info__gallery {
    background: @gallery-ico;
    padding-left: 30px;
    padding-right: 30px;
    font-size: @desktop-font-size;
    color: @article-author-color;
}

article h2 {
    font-size: @title-font-size;
    color: @article-header-color;
    padding: 30px 30px 20px 30px;
    height: 30px;
    line-height: 1.2;
    overflow: hidden;
    margin-bottom: 25px;
    font-family: 'Lato-Black';
    word-break: break-word;
}

article h2:hover {
    color: @title-hover;
    cursor: pointer;
}

.article-info__pill {
    display: inline-block;
    padding-left: 20px;
    font-family: 'Lato-Regular';
    margin-left: 20px;
    line-height: 1.2; 
}

.article-info__pill:first-child {
    display: inline-block;
    padding-left: 20px;
    margin-left: 30px;
}

.clearfix {
    clear: both;
}

.load-moreimg { 
    text-align: left; 
    top: 50%;
    position: absolute;
    left: 20px;
    margin-top: -15px; 
}

.load-more {
    display: inline-block;
    font-family: "Lato regular", "Lato";
    font-size: @desktop-font-size;
    color: @load-more-color;
    border-style: solid;
    border-width: 1px;
    border-color: @load-more-color;
    background-color: @btn-background-color;
    width: 160px;
    height: 50px;
    padding: 14px;
    text-align: right;
    position: relative;
    outline:none;
    cursor: pointer;
}

.load-more:hover { 
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    background-color:#fbe9e0;
}
 