/******************************/



.article__content--full {
  height: auto;
  font-family: 'Lato';

  h1 {
    font-family: 'Lato';
    font-size: 30px;
    padding: 80px 0px 20px 0px;
  }

  .article-informations {
    color: #828282;
    font-family: 'Lato';
    font-size: 18px;
    height: 20px;
    padding: 0px 20px 20px 0px;
    
      .article-informations__author {
        background: @author-ico no-repeat;
        padding-left: 20px;
        padding-right: 15px;
        display: inline-block;
        font-family: 'Lato';
        font-size: @desktop-font-size;
        color: @article-author-color;
      }
      
      .article-informations__date {
        background: @date-ico no-repeat;
        padding-left: 20px;
        padding-right: 15px;
        display: inline-block;
        font-family: 'Lato';
        font-size: @desktop-font-size;
        color: @article-author-color;
      } 
  }
}



/***********************/
