@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato.woff') format('woff');
    src: url('../fonts/Lato.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Lato.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Lato.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Lato.ttf')  format('truetype'); /* Safari, Android, iOS */
        
}