@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato.woff') format('woff');
    src: url('../fonts/Lato.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Lato.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Lato.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Lato.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face{
    font-family: 'Lato-Bold';

    src:    url('../fonts/Lato-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face{
    font-family: 'Lato-Black';
    src: url('../fonts/Lato-Black.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face{
    font-family: 'Lato-BlackItalic';

    src: url('../fonts/Lato-BlackItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face{
    font-family: 'Lato-BoldItalic';

    src: url('../fonts/Lato-BoldItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face{
    font-family: 'Lato-Hairline';

    src:  url('../fonts/Lato-Hairline.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face{
    font-family: 'Lato-Hairlineitalic';

    src:    url('../fonts/Lato-Hairlineitalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face{
    font-family: 'Lato-Heavy';

    src: url('../fonts/Lato-Heavy.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face{
    font-family: 'Lato-HeavyItalic';

    src:   url('../fonts/Lato-HeavyItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face{
    font-family: 'Lato-Italic';

    src:    url('../fonts/Lato-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face{
    font-family: 'Lato-Light';

    src: url('../fonts/Lato-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face{
    font-family: 'Lato-LightItalic';

    src:  url('../fonts/Lato-LightItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face{
    font-family: 'Lato-Medium';

    src:  url('../fonts/Lato-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face{
    font-family: 'Lato-MediumItalic';

    src:    url('../fonts/Lato-MediumItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face{
    font-family: 'Lato-Regular';

    src:   url('../fonts/Lato-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face{
    font-family: 'Lato-Semibold';

    src:     url('../fonts/Lato-Semibold.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face{
    font-family: 'Lato-SemiboldItalic';

    src:    url('../fonts/Lato-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face{
    font-family: 'Lato-Thin';
    src: url('../fonts/Lato-Thin.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face{
    font-family: 'Lato-ThinItalic';
    src: url('../fonts/Lato-ThinItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
}
