footer{
    width: 100%;
    height: 110px;
    margin:0 auto;
    background: url('../images/footer.jpg') no-repeat;
    background-size: 100% auto;
}

.errorSearch {
	display: inline-block;
	color: red; 

}

.hideError{
	
	display:none;
}