
header {
	height: 67px;
	width: 100%;
	
		.header__hamburger {
			display: inline-block;
			float: left;
			width: 10%;

				img {
					padding: 25px 0px 25px 25px;
				}
		}

		.header__logo {
			display: inline-block;
			float: left;
			width: 80%;
			position: absolute;

				img {
					position: relative;
					top: 50%;
					left: 50%;
					margin-top: 10px;
					margin-left: -58px;
				}
		}

		.header__profile {
			display: inline-block;
			float: right;

				. img {
					padding: 10px 20px 10px 0px;
				}
		}
}

