.latest__article{
  height: 375px;
  margin: 0px auto;
  width: 1170px;
  border: 1px solid black;
}

.article__content{
  width: 600px;
  height: 377px;
  float:left;
  position: absolute;
}

.article__img{
  background: url("../images/main/Layer%207.png") no-repeat;
  height: 377px;
  width: 570px;
  float: right;
}

.article__title{
  font-family: "Lato";
  font-size: 21px;
  color: #515151;
  padding: 30px 0px 12px 30px;
}

.article__author.article_info{
  font-size: 18px;
  font-family: "Lato";
  color: #b1b1b1;
}

.article__date.article_info{
  font-size: 18px;
  font-family: "Lato";
  color: #b1b1b1;
}

.article_description{
  font-size: 18px;
  font-family: "Lato";
  color: #828282;
  padding: 19px 30px 25px 30px;
}

.article__informations{
  padding: 0px 30px 30px 30px;
}

.article__author{
  background: url("../images/ico/user%20-%20single.png") no-repeat;
}

.article__date{
  background: url("../images/ico/calendar.png") no-repeat;
}

.article__gallery{
  background: url("../images/ico/6.png") no-repeat;
  font-size: 18px;
  font-family: "Lato";
  color: #b1b1b1;
}

.btn.btn--more{
  margin: 0px 0px 20px 30px;
  height: 43px;
  width: 133px;
  text-align: center;
  color: #747474;
  font-size: 18px;
  font-family: "Lato";
  border: 1px solid #515151;
}

.article_info{
  padding-left: 20px;
  padding-right: 15px;
}