//Variables
@article-picture: url("../images/main/Layer%207.png");

/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
@media all
and (min-width: 320px)
and (max-width: 568px) {
  .latest__article{
    width: 100%;
    height: 670px;
    .article__img{
      display: none;
    }
    .article__picture img{
      display: block;
      width: 44%;
      height: 186px;
      padding-left: 30px;
      padding-right: 30px;
    }
    .article__content{
      position: absolute;
      height: 0px;
      width: 600px;
      .article__title{
        font-size: 18px;
      }
      .article__informations{
        .article__author.article_info{
          font-size: 13px;
        }
        .article__date.article_info{
          font-size: 13px;
        }
        .article__gallery.article_info{
          font-size: 13px;
        }
      }
      .article_description{
        text-align: justify;
        width: 44%;
        font-size: 13px;
      }
    }
  }
  .main{
    position: relative;
  }
}

/* ----------- IPhone 6----------- */

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px){
  .latest__article{
    .article__content{
      .article_description{
        width: 53%;
      }
    }
    .article__picture img{
      width: 53%;
      height: 10%;
    }
  }
}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 360px)
and (device-height: 640px) {
  .latest__article{
    .article__content{
      .article_description{
        width: 50%;
      }
      .article__picture img{
        width: 50%;
        height: 100%;
      }
    }

  }
}

/* Portrait */
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (orientation: portrait) {

}

/* Landscape */
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (orientation: landscape) {

}
