
body, p,h1,h2,h3,h4,ul{
  margin:0px;
}
p{
  text-align: center;
}
.container{
  width:100%;
}


body, p,h1,h2,h3,h4,ul{
  margin:0px;
}
p{
  text-align: center;
}
.container{
  width:100%;
}

.main{
  width:1170px;
  margin:0px auto;
  background-color:lightgray;

}