body, p, h1, h2, h3, h4, ul{
    margin:0px;
}

p{
    text-align: center;
}

.container{
    width:100%;
    overflow-x:hidden;
    overflow-y: hidden;
}

.content{
    width: 1170px;
    margin: 80px auto;
    height: auto;
    margin-bottom: 70px;
}

.main{
    width:1170px;
    margin:50px auto;
    display: block;
    zoom: 95%;
}
