
.menu-left {
    left: -360px;

    .left-arrow {
        background: @left-arrow-ico;
        padding: 25px 0;
        margin: 0 0 0 24px;
    }

    .search-article {
        height: 48px;
        width: 262px;
        font-family: "Lato-Regular";
        margin: 0 24px;
        background: @white-color @search-ico;
        background-position: 5px;
        font-size: @desktop-font-size;
        padding: 0 0 0 30px;

    }

    p {
        display:none;

        // de decomentat cand o sa testez cu erorile
        /*&.showError {
          display: inline-block;
          padding-top: 5px;
          color: #e1632a;;
          margin: 0 23px;
          text-align: justify;
          font-family: 'Lato-Regular';
          text-align: center;

        }*/
    }

    .editor-list {
        border-bottom: 1px solid #585858;

        h2 {
            background: @edit-mode-ico;
        }
    }

    .resources-list h2 {
        background: @resources-ico;
    }

    &.show-menu-left{
        position: fixed;
        left: 0px;
    }
}