@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato.woff') format('woff');
  src: url('../fonts/Lato.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Lato.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/Lato.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/Lato.ttf') format('truetype');
  /* Safari, Android, iOS */
}
body,
p,
h1,
h2,
h3,
h4,
ul {
  margin: 0px;
}
p {
  text-align: center;
}
.container {
  width: 100%;
}
.main {
  width: 1170px;
  margin: 50px auto;
  display: block;
}
/* General Header */
header {
  height: 67px;
  width: 100%;
}
header .header__hamburger {
  display: inline-block;
  float: left;
  width: 10%;
}
header .header__hamburger img {
  padding: 25px 0px 25px 25px;
}
header .header__logo {
  display: inline-block;
  float: left;
  width: 80%;
  position: absolute;
}
header .header__logo img {
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: 10px;
  margin-left: -58px;
}
header .header__profile {
  display: inline-block;
  float: right;
}
header .header__profile img {
  padding: 10px 20px 10px 0px;
}
.slider {
  width: 100%;
  background-color: lightblue;
  height: 600px;
}
.latest__article {
  margin: 0px auto;
  width: 1170px;
  height: 372px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 50px;
}
.latest__article .article__content {
  width: 600px;
  height: 377px;
  float: left;
  position: absolute;
}
.latest__article .article__content .article__title {
  font-family: 'Lato';
  font-size: 21px;
  color: #515151;
  padding: 30px 0px 20px 30px;
  height: 25px;
}
.latest__article .article__content .article__informations {
  height: 20px;
  padding: 0px 30px 30px 30px;
  font-family: 'Lato';
}
.latest__article .article__content .article__informations .article__author.article_info {
  font-size: 18px;
  color: #b1b1b1;
}
.latest__article .article__content .article__informations .article_info {
  padding-left: 20px;
  padding-right: 15px;
}
.latest__article .article__content .article__informations .article__date.article_info {
  font-size: 18px;
  color: #b1b1b1;
}
.latest__article .article__content .article__informations .article__author {
  background: url("../images/ico/user%20-%20single.png") no-repeat no-repeat;
}
.latest__article .article__content .article__informations .article__date {
  background: url("../images/ico/calendar.png") no-repeat no-repeat;
}
.latest__article .article__content .article__informations .article__gallery {
  background: url("../images/ico/6.png") no-repeat no-repeat;
  font-size: 18px;
  color: #b1b1b1;
}
.latest__article .article__content .article_description {
  font-size: 18px;
  color: #828282;
  padding: 10px 30px 25px 30px;
  font-family: 'Lato';
  line-height: 1.2;
  text-align: justify;
  height: 55px;
  overflow: hidden;
}
.latest__article .article__content .btn.btn--more {
  margin: 0px 0px 20px 30px;
  height: 43px;
  width: 133px;
  text-align: center;
  color: #747474;
  font-size: 18px;
  border: 1px solid #515151;
  background-color: #ffffff;
  font-family: 'Lato';
}
.latest__article .article__img {
  height: 377px;
  width: 570px;
  float: right;
}
.latest__article .article__img img {
  width: 100%;
  height: 98%;
}
.article__picture img {
  display: none;
}
.clearfix {
  clear: both;
}
.clearfix {
  clear: both;
}
.article-wrapper {
  width: 31.625%;
  float: left;
  box-sizing: border-box;
  vertical-align: top;
  height: 505px;
  margin-bottom: 30px;
  margin-right: 2.565%;
}
.article-wrapper article {
  background-color: white;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.08);
  color: #828282;
  height: 100%;
}
.article-wrapper article img {
  margin-top: 30px;
  width: 100%;
  height: 180px;
}
.article-wrapper article p {
  font-size: 18px;
  color: #828282;
  padding: 30px;
  font-family: 'Lato';
  text-align: left;
  overflow: hidden;
  height: 55px;
  line-height: 1.2;
}
.article-wrapper article .btn--more {
  margin: 0px 0px 30px 35px;
  font-family: 'Lato';
  width: 133px;
  height: 43px;
  font-size: 18px;
  color: #515151;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #515151;
  background-color: #ffffff;
}
.article-wrapper article:after {
  clear: both;
}
.article-content {
  box-sizing: border-box;
  font-size: 18px;
}
.article-info__date {
  background: url('../images/ico/date.png') no-repeat;
  font-size: 18px;
  font-family: 'Lato';
  color: #b1b1b1;
}
.article-info__author {
  background: url('../images/ico/user.png') no-repeat;
  padding-left: 30px;
  font-size: 18px;
  font-family: 'Lato';
  color: #b1b1b1;
}
.article-info__gallery {
  background: url('../images/ico/photo.png') no-repeat;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  font-family: 'Lato';
  color: #b1b1b1;
}
article h2 {
  font-size: 21px;
  color: #515151;
  padding: 30px 30px 20px 30px;
  font-family: 'Lato';
  height: 4px;
  overflow: hidden;
  margin-bottom: 25px;
}
article h2:hover {
  color: #DD852C;
  cursor: pointer;
}
.article-info__pill {
  display: inline-block;
  padding-left: 20px;
  margin-left: 30px;
  line-height: 1.2;
}
.article-info__pill:first-child {
  display: inline-block;
  padding-left: 20px;
  margin-left: 30px;
  margin-bottom: 10px;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1180px) {
  .article-wrapper:nth-of-type(3n+3) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1180px) {
  .main {
    width: auto;
    margin: 50px auto;
    display: block;
  }
  .article-wrapper {
    width: 48%;
    margin-right: 4%;
    /*		&:first-child {
			margin-right: 30px;
		}*/
  }
  .article-wrapper:nth-of-type(2n+2) {
    margin-right: 0%;
  }
  /*.article-wrapper:last-child {
		width:48%;
		display:inline-block;
		box-sizing:border-box; 
		margin-right:0px;
	}
*/
  .article-wrapper article {
    margin-bottom: 30px;
    background-color: white;
    border: 1px solid #cecece;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    color: #828282;
  }
  .article-wrapper article img {
    margin-top: 30px;
    width: 100%;
    height: 180px;
  }
  .article-wrapper article p {
    font-size: 15px;
    color: #828282;
    padding: 30px;
    font-family: 'Lato';
    text-align: left;
    overflow: hidden;
    height: 45px;
    line-height: 1.2;
  }
  .article-wrapper article .btn--more {
    margin: 0px 0px 30px 35px;
    font-family: 'Lato';
    width: 133px;
    height: 43px;
    font-size: 18px;
    color: #515151;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #515151;
    background-color: #ffffff;
  }
  .article-wrapper article:after {
    clear: both;
  }
  /*.article-info__pill{
		display: block;
		padding-left:20px;
		margin-left:20px;
	}
	.article-info__pill:first-child{
		display:  block;
		padding-left: 20px;
		margin-left: 30px;
	}*/
  .article-info__date {
    background: url('../images/ico/date.png') no-repeat;
    font-size: 15px;
    font-family: 'Lato';
    color: #b1b1b1;
  }
  .article-info__author {
    background: url('../images/ico/user.png') no-repeat;
    padding-left: 30px;
    font-size: 15px;
    font-family: 'Lato';
    color: #b1b1b1;
  }
  .article-info__gallery {
    background: url('../images/ico/photo.png') no-repeat;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
    font-family: 'Lato';
    color: #b1b1b1;
  }
  article h2 {
    font-size: 18px;
    color: #515151;
    padding: 30px 30px 20px 30px;
    font-family: 'Lato';
    height: 0px;
    overflow: hidden;
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 1px) and (max-width: 599px) {
  .main {
    width: auto;
    margin: 50px auto;
  }
  .article-wrapper:nth-last-child(n) {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
  }
  .article-wrapper {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0px;
  }
  .article-wrapper article {
    margin-bottom: 30px;
    background-color: white;
    border: 1px solid #cecece;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    color: #828282;
  }
  .article-wrapper article img {
    margin-top: 30px;
    width: 100%;
    height: 180px;
  }
  .article-wrapper article p {
    font-size: 13px;
    color: #828282;
    padding: 30px;
    font-family: 'Lato';
    text-align: left;
    overflow: hidden;
    height: 30px;
    line-height: 1.2;
  }
  .article-wrapper article .btn--more {
    margin: 0px 0px 30px 35px;
    font-family: 'Lato';
    width: 133px;
    height: 43px;
    font-size: 18px;
    color: #515151;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #515151;
    background-color: #ffffff;
  }
  .article-wrapper article:after {
    clear: both;
  }
  .article-info__date {
    background: url('../images/ico/date.png') no-repeat;
    font-size: 15px;
    font-family: 'Lato';
    color: #b1b1b1;
  }
  .article-info__author {
    background: url('../images/ico/user.png') no-repeat;
    padding-left: 30px;
    font-size: 15px;
    font-family: 'Lato';
    color: #b1b1b1;
  }
  .article-info__gallery {
    background: url('../images/ico/photo.png') no-repeat;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
    font-family: 'Lato';
    color: #b1b1b1;
  }
  article h2 {
    font-size: 18px;
    color: #515151;
    padding: 30px 30px 20px 30px;
    font-family: 'Lato';
    height: 0px;
    overflow: hidden;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 323px) {
  .article-info__pill {
    display: inline-block;
    padding-left: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
  }
  .article-info__pill:first-child {
    display: inline-block;
    padding-left: 20px;
    margin-left: 30px;
  }
  .article-wrapper article p {
    font-size: 13px;
    color: #828282;
    padding: 30px;
    font-family: 'Lato';
    text-align: left;
    overflow: hidden;
    height: 30px;
    line-height: 1.2;
  }
  article h2 {
    font-size: 18px;
    color: #515151;
    padding: 30px 30px 20px 30px;
    font-family: 'Lato';
    height: 0px;
    overflow: hidden;
    margin-bottom: 25px;
  }
}
@media all and (max-width: 298px) {
  .latest__article {
    height: auto;
  }
  .latest__article .article__content {
    height: auto;
    position: static;
  }
  .latest__article .article__content .article__informations .article__author.article_info {
    font-size: 13px;
  }
  .latest__article .article__content .article__informations .article__date.article_info {
    font-size: 13px;
  }
  .latest__article .article__content .article__informations .article__gallery.article_info {
    font-size: 13px;
    display: block;
  }
  .latest__article .article__content .article_description {
    text-align: justify;
    font-size: 13px;
  }
  .latest__article .article__img {
    display: none;
  }
  .latest__article .article__picture img {
    display: block;
    width: 44%;
    height: 186px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media all and (min-width: 299px) and (max-width: 450px) {
  .latest__article {
    width: 100%;
    height: 507px;
  }
  .latest__article .article__img {
    display: none;
  }
  .latest__article .article__picture img {
    display: block;
    width: 44%;
    height: 186px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .latest__article .article__content {
    position: absolute;
    height: 0px;
    width: 600px;
  }
  .latest__article .article__content .article__title {
    font-size: 18px;
  }
  .latest__article .article__content .article__informations .article_info {
    padding-left: 20px;
    padding-right: 2px;
  }
  .latest__article .article__content .article__informations .article__author.article_info {
    font-size: 13px;
  }
  .latest__article .article__content .article__informations .article__date.article_info {
    font-size: 13px;
  }
  .latest__article .article__content .article__informations .article__gallery.article_info {
    font-size: 13px;
    display: block;
  }
  .latest__article .article__content .article_description {
    text-align: justify;
    width: 44%;
    font-size: 13px;
    height: 35px;
    overflow: hidden;
  }
  .latest__article .article__content .btn.btn--more {
    margin: 0px 0px 20px 31px;
  }
  .main {
    position: relative;
  }
}
@media all and (min-width: 455px) and (max-width: 611px) {
  .latest__article {
    height: auto;
  }
  .latest__article .article__content {
    width: 100%;
    position: static;
    height: auto;
  }
  .latest__article .article__content .article__informations {
    text-align: left;
  }
  .latest__article .article__content .article__informations .article__author.article_info {
    font-size: 13px;
  }
  .latest__article .article__content .article__informations .article__date.article_info {
    font-size: 13px;
  }
  .latest__article .article__content .article__informations .article__gallery {
    font-size: 13px;
  }
  .latest__article .article__content .article_description {
    width: 36%;
    font-size: 13px;
  }
  .latest__article .article__img {
    display: none;
  }
  .latest__article .article__picture img {
    display: block;
    width: 40%;
    height: 186px;
    padding-left: 4%;
    padding-right: 2%;
    box-sizing: border-box;
  }
}
.latest__article:after {
  clear: both;
}
@media all and (min-width: 611px) and (max-width: 1024px) {
  .latest__article {
    width: 95%;
    height: 408px;
  }
  .latest__article .article__content {
    text-align: justify;
    width: 42%;
  }
  .latest__article .article__content .article__informations {
    text-align: left;
  }
  .latest__article .article__content .article__informations .article__author.article_info {
    font-size: 15px;
  }
  .latest__article .article__content .article__informations .article__date.article_info {
    font-size: 15px;
    display: block;
  }
  .latest__article .article__content .article__informations .article__gallery {
    font-size: 15px;
  }
  .latest__article .article__content .article_description {
    font-size: 15px;
    height: 50px;
    width: 85%;
  }
  .latest__article .article__content .btn.btn--more {
    font-size: 15px;
  }
  .latest__article .article__img {
    width: 56%;
    margin-top: 14px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1200px) {
  .latest__article {
    width: 95%;
  }
  .latest__article .article__content {
    width: 40%;
  }
  .latest__article .article__content .article__informations .article__gallery {
    display: block;
  }
}
.article__details {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.article__details .article__img {
  width: 100%;
  margin: 0 0 30px 0;
}
.article__details .article__img img {
  width: 100%;
  height: 100%;
}
.article__details .article__content {
  width: 100%;
  height: auto;
}
.article__details .article__content p {
  font-size: 18px;
  color: #828282;
  font-family: 'Lato';
  line-height: 1.2;
  text-align: justify;
  margin-bottom: 70px;
}
footer {
  width: 100%;
  height: 67px;
  background-color: coral;
}
