body,
p,
h1,
h2,
h3,
h4,
ul {
  margin: 0px;
}
p {
  text-align: center;
}
.container {
  width: 100%;
}
.main {
  width: 1170px;
  margin: 50px auto;
  display: block;
}
/* General Header */
header {
  height: 67px;
  width: 100%;
}
header .header__hamburger {
  display: inline-block;
  float: left;
  width: 10%;
}
header .header__logo {
  display: inline-block;
  float: left;
  width: 80%;
  position: absolute;
}
header .header__profile {
  display: inline-block;
  float: right;
}
/* Menu of the Header */
.header__hamburger img {
  padding: 25px 0px 25px 25px;
}
/* Logo of the Header */
.header__logo img {
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: 10px;
  margin-left: -58px;
}
/* Profile of the Header */
.header__profile img {
  padding: 10px 20px 10px 0px;
}
.slider {
  width: 100%;
  background-color: lightblue;
  height: 600px;
}
.latest__article {
  margin: 0px auto;
  width: 1170px;
  height: 372px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.08);
}
.latest__article .article__content {
  width: 600px;
  height: 377px;
  float: left;
  position: absolute;
}
.latest__article .article__content .article__title {
  font-family: "Lato";
  font-size: 21px;
  color: #515151;
  padding: 30px 0px 12px 30px;
}
.latest__article .article__content .article__informations {
  padding: 0px 30px 30px 30px;
  font-family: "Lato";
}
.latest__article .article__content .article__informations .article__author.article_info {
  font-size: 18px;
  color: #b1b1b1;
}
.latest__article .article__content .article__informations .article_info {
  padding-left: 20px;
  padding-right: 15px;
}
.latest__article .article__content .article__informations .article__date.article_info {
  font-size: 18px;
  color: #b1b1b1;
}
.latest__article .article__content .article__informations .article__author {
  background: url("../images/ico/user%20-%20single.png") no-repeat;
}
.latest__article .article__content .article__informations .article__date {
  background: url("../images/ico/calendar.png") no-repeat;
}
.latest__article .article__content .article__informations .article__gallery {
  background: url("../images/ico/6.png") no-repeat;
  font-size: 18px;
  color: #b1b1b1;
}
.latest__article .article__content .article_description {
  font-size: 18px;
  color: #828282;
  padding: 10px 30px 25px 30px;
  line-height: 25px;
  font-family: "Lato";
}
.latest__article .article__content .btn.btn--more {
  margin: 0px 0px 20px 30px;
  height: 43px;
  width: 133px;
  text-align: center;
  color: #515151;
  font-size: 18px;
  border: 1px solid #515151;
  background-color: #ffffff;
  font-family: "Lato";
}
.latest__article .article__img {
  background: url("../images/main/Layer%207.png") no-repeat;
  height: 377px;
  width: 570px;
  float: right;
}
.article__picture img {
  display: none;
}
.clearfix {
  clear: both;
}
.article-wrapper {
  width: 31.6%;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 26px;
}
.article-wrapper article {
  margin-bottom: 30px;
  background-color: white;
  border: 1px solid #cecece;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  color: #828282;
}
.article-wrapper article img {
  margin-top: 30px;
  max-width: 100%;
  height: auto;
}
.article-wrapper article p {
  font-size: 18px;
  color: #828282;
  padding: 30px;
  font-family: 'Lato';
  text-align: left;
  line-height: 1;
}
.article-wrapper article .btn--more {
  margin: 0px 0px 30px 35px;
  font-family: 'Lato';
  width: 133px;
  height: 43px;
  font-size: 18px;
  color: #515151;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #515151;
  background-color: #ffffff;
}
.article-wrapper article:after {
  clear: both;
}
.article-wrapper:nth-last-child(3n+1) {
  width: 31.6%;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 0px;
}
.article-content {
  box-sizing: border-box;
  font-size: 18px;
}
.article-content .article-info__date {
  background: url('../images/ico/date.png') no-repeat;
  font-size: 18px;
  font-family: 'Lato';
  color: #b1b1b1;
}
.article-info__author {
  background: url('../images/ico/user.png') no-repeat;
  padding-left: 30px;
  font-size: 18px;
  font-family: 'Lato';
  color: #b1b1b1;
}
.article-info__gallery {
  background: url('../images/ico/photo.png') no-repeat;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  font-family: 'Lato';
  color: #b1b1b1;
}
article h2 {
  font-size: 21px;
  color: #515151;
  padding: 30px 0px 20px 30px;
  font-family: 'Lato';
}
.article-info__pill {
  display: inline-block;
  padding-left: 20px;
  margin-left: 30px;
  line-height: 1;
}
.article-info__pill:first-child {
  display: inline-block;
  padding-left: 20px;
  margin-left: 30px;
}
@media only screen and (min-width: 600px) and (max-width: 1180px) {
  .main {
    width: auto;
    margin: 50px auto;
    display: block;
  }
  .article-wrapper {
    width: 48%;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0px;
    /*		&:first-child {
			margin-right: 30px;
		}*/
  }
  .article-wrapper:nth-last-child(3n+1) {
    width: 48%;
  }
  .article-wrapper:nth-last-child(2n+1) {
    margin-left: 3%;
  }
  /*.article-wrapper:last-child {
		width:48%;
		display:inline-block;
		box-sizing:border-box; 
		margin-right:0px;
	}
*/
  .article-wrapper {
    width: 48%;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0px;
  }
  .article-wrapper article {
    margin-bottom: 30px;
    background-color: white;
    border: 1px solid #cecece;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    color: #828282;
  }
  .article-wrapper article img {
    padding-top: 30px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  .article-wrapper article p {
    font-size: 18px;
    color: #828282;
    padding: 30px;
    font-family: 'Lato';
    text-align: left;
  }
  .article-wrapper article .btn--more {
    margin: 0px 0px 30px 35px;
    font-family: 'Lato';
    width: 133px;
    height: 43px;
    font-size: 18px;
    color: #515151;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #515151;
    background-color: #ffffff;
  }
  .article-wrapper article:after {
    clear: both;
  }
  /*.article-info__pill{
		display: block;
		padding-left:20px;
		margin-left:20px;
	}

	.article-info__pill:first-child{
		display:  block;
		padding-left: 20px;
		margin-left: 30px;

	}*/
}
@media only screen and (min-width: 1px) and (max-width: 599px) {
  .main {
    width: auto;
    margin: 50px auto;
  }
  .article-wrapper:nth-last-child(n) {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
  }
  .article-wrapper {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0px;
  }
  .article-wrapper article {
    margin-bottom: 30px;
    background-color: white;
    border: 1px solid #cecece;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    color: #828282;
  }
  .article-wrapper article img {
    padding-top: 30px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  .article-wrapper article p {
    font-size: 18px;
    color: #828282;
    padding: 30px;
    font-family: 'Lato';
    text-align: left;
  }
  .article-wrapper article .btn--more {
    margin: 0px 0px 30px 35px;
    font-family: 'Lato';
    width: 133px;
    height: 43px;
    font-size: 18px;
    color: #515151;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #515151;
    background-color: #ffffff;
  }
  .article-wrapper article:after {
    clear: both;
  }
}
@media only screen and (max-width: 323px) {
  .article-info__pill {
    display: inline-block;
    padding-left: 20px;
    margin-left: 30px;
  }
  .article-info__pill:first-child {
    display: inline-block;
    padding-left: 20px;
    margin-left: 30px;
  }
}
/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
@media all and (min-width: 320px) and (max-width: 568px) {
  .latest__article {
    width: 100%;
    height: 670px;
  }
  .latest__article .article__img {
    display: none;
  }
  .latest__article .article__picture img {
    display: block;
    width: 44%;
    height: 186px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .latest__article .article__content {
    position: absolute;
    height: 0px;
    width: 600px;
  }
  .latest__article .article__content .article__title {
    font-size: 18px;
  }
  .latest__article .article__content .article__informations .article_info {
    padding-left: 20px;
    padding-right: 2px;
  }
  .latest__article .article__content .article__informations .article__author.article_info {
    font-size: 13px;
  }
  .latest__article .article__content .article__informations .article__date.article_info {
    font-size: 13px;
  }
  .latest__article .article__content .article__informations .article__gallery.article_info {
    font-size: 13px;
  }
  .latest__article .article__content .article_description {
    text-align: justify;
    width: 44%;
    font-size: 13px;
  }
  .main {
    position: relative;
  }
}
/* ----------- IPhone 6----------- */
@media all and (min-width: 375px) and (max-width: 667px) {
  .latest__article .article__content .article_description {
    width: 53%;
  }
  .latest__article .article__picture img {
    width: 53%;
    height: 10%;
  }
}
/* ----------- Galaxy S5 ----------- */
/* Portrait and Landscape */
@media only screen and (device-width: 360px) and (device-height: 640px) {
  .latest__article .article__content .article_description {
    width: 50%;
  }
  .latest__article .article__content .article__picture img {
    width: 50%;
    height: 100%;
  }
}
/* Portrait */
/* Landscape */
footer {
  width: 100%;
  height: 67px;
  background-color: coral;
}
