body,
p,
h1,
h2,
h3,
h4,
ul {
  margin: 0px;
}
p {
  text-align: center;
}
.container {
  width: 100%;
}
.main {
  width: 1170px;
  margin: 0px auto;
  height: 500px;
  background-color: lightgray;
}
header {
  height: 67px;
  width: 100%;
  background-color: aliceblue;
}
.slider {
  width: 100%;
  background-color: lightblue;
  height: 600px;
}
.wrapper {
  width: 1170px;
  margin: 0px auto;
  font-size: 0px;
  font-family: 'Lato', sans-serif;
}
.article-wrapper {
  display: inline-block;
  box-sizing: border-box;
  padding-right: 30px;
}
article {
  width: 370px;
  height: 505px;
  background-color: white;
  /*border:1px solid #cecece;*/
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  color: gray;
}
img {
  width: 370px;
}
article:after {
  clear: both;
}
footer {
  width: 100%;
  height: 67px;
  background-color: coral;
}
