nav {
  width: 100%;
  text-align: center;
  position: fixed;
  min-height: 100%;
}

.menu-right {
  width: 309px;
  min-height: 100%;
  background-color: #333333;
  text-align: left;
  right: 0;
  z-index: 44;
  top: 0;
  transition: all .9s ease-in-out;
  -webkit-transition: all .9s ease-in-out;
  -moz-transition: all .9s ease-in-out;
  -o-transition: all .9s ease-in-out;

  ul {
      padding: 0
    }

  li .file {
    color: #ffffff;
  }
}

.user {
  padding: 0px 6px 0px 24px;
}

.show-menu-right {
  position: fixed;
  right: 0px;
}

#userProfile {
  display: none;
}