ul {
  padding: 0
}

nav {
  width: 100%;
  text-align: center;
  position: fixed;
  min-height: 100%;
}

nav a {
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid #585858;
  color: #ffffff;
  text-decoration: none;
  font-family: "Lato-Regular";
  font-size: @desktop-font-size;
}

.menu-right {
  width: 309px;
  min-height: 100%;
  background-color: #333333;
  text-align: left;
  right: 0;
  z-index: 44;
}

.user{
  padding: 0px 6px 0px 24px;
}

#userProfile{
  display:none;
}

.show-menu-left{
  position: fixed;
  left:0px;
}