
.slider{
    background-color:#fff;
    position:relative;
    margin-top: 67px;

    img{
        width:100%;
    }

    &__controlls{
        width: 100%;
        bottom: 30px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0px auto;
        display: block;
        z-index : 1;
        text-align: center;

        .bubble{
            height: 14px;
            width: 14px;
            border-radius: 30px;
            margin-right: 8px;
            background-color: #fff;
            display: inline-block;
            border: @standard-border;
            transition: 0.2s all ease;
        }

        .bubble.bubble--active{
            background-color:#bfbdbd;
        }
    }

    .slider__slides {
        position: relative;

        ul {
            list-style: none;
            display: -webkit-box;

            li {
                position: relative;
                color: @load-more-color;

                .slider__meta{
                    position: absolute;
                    right: 20%;
                    top: 35%;
                    width: 405px;

                    h2{
                        background-color: @slider-meta-bg;
                        font-family: "Lato-Black";
                        font-size: 21px;
                        padding: 17px;
                        margin-bottom: 10px;
                        text-transform: capitalize;
                        width: 67%;
                        float: right;
                        text-align: center;
                    }

                    p{
                        background-color: @slider-meta-bg;
                        font-family: "Lato-Regular";
                        font-size: 18px;
                        padding:17px;
                        right: 0;
                        clear: both;
                        text-align: justify;
                    }
                }
            }
        }
    }
}

