@media only screen and (min-width: 600px) and (max-width: 1190px) {
    .content {
        width: 100%;
        margin: 0px auto;
        height: auto;
    }
    .article-details .article__content p {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 599px) {
    .content {
        width:100%;
    }
    .article__details .article__content p {
        font-size: 13px;
    }
}

