@media only screen
and (min-width: 600px)
and (max-width: 1190px) {
   
    .overlay{
      .modal{
        max-width: 80%;

        .modal__next, .modal__prev{
          height: 40px;
          width: 35px;
          background-size: cover;
          margin-top: -12px;
          background-position-y: -2px;
        }

        .modal__close{
          height: 35px;
          width: 35px;
          background-size:cover;
        }

        .modal__images{
          min-height:auto;
          
          .modal__source{
            padding:5px;
          }
        }
      }
    }
    .content {
      width: 100%;
      margin: 80px auto;
      height: auto;
    }
    
    .article-details .article__content p {
      font-size: 15px;
    }

    .slider{
      .slider__slide{
        .slider__meta{
          h2{
            font-size:14px;
          }
        }
      }
    }
    .slider__controlls{
      display:none!important;
    }
}


@media only screen
and (min-width: 1px)
and (max-width: 599px) {

    .content {
      width:100%;
    }
    
    .article__details .article__content p {
      font-size: 13px;
    }
    
    .overlay{
      .modal{
        max-width:100%;
        height:auto!important;
        .modal__next, .modal__prev{
          display:none;
        }

        .modal__close{
          height:25px;
          width:25px;
          background-size:cover;
        }

        .modal__source{
          padding:2px;
          bottom: -23px;
          right: -1px;
          border-radius: 0px 0px 0px 3px;
          
        }

        .modal__images{
          min-height: auto;
        }
      }
    }

    .slider .slider__controlls{
      display:none!important;
    }

    .content{
      padding:0px 20px;
      box-sizing:border-box;
    }
  
    td.gutter{
      display:none;
    }
  
    .line, a{
      word-break: break-word;
    }
  
    .article__body img{
       height:50%;
    }
    
    .article__details .article__gallery .button__gallery {
    height: 55px;
    width: 184px;
    margin-left: -92px;
    padding: 17px 20px 24px 0px;
    font-size: 18px; 
    i{
        left:20px;
    }
}
}
@media only screen
and (min-width: 600px)
and (max-width: 1024px) {
    .article__details .article__gallery .button__gallery {
        height: 55px;
        width: 184px;
        margin-left: -92px;
        padding: 17px 20px 24px 0px;
        font-size: 18px; 
        i{
            left:20px;
        }
    }
}

@media only screen
and (min-width:1200px)
and (max-width: 1500px){

  .content{
    width:900px;
  }
}

@media only screen
and (min-width:800px)
and (max-width: 1199px){

  .content{
    width:700px;
    margin: 80px auto;
  }
}

@media only screen
and (min-width:599px)
and (max-width: 799px){

  .content{
    padding:0px 40px;
    box-sizing:border-box;
  }

  td.gutter{
    display:none;
  }

  .line{
    word-break: break-word;
  }
}
