@media only screen
and (min-width: 1180px) {
    
    .article-wrapper:nth-of-type(3n+3) {
        margin-right: 0;
    };
}

@media only screen
and (min-width: 600px)
and (max-width: 1180px) {
    
    .main {
        width: auto;
        margin: 50px 20px 0 20px;
        display: block;
    }

    .article-wrapper {
        width: 48%;
        margin-right: 4%;
    }


    .article-wrapper:nth-of-type(2n+2) {
        margin-right: 0%;
    }

    .article-wrapper article {
        margin-bottom: 30px; 
        border: 1px solid @article-border;
        color: @article-description-color;
    }

    .article-wrapper article p {
        font-size: @pad-font-size;
        color: @article-description-color;
        padding: 30px;
        overflow: hidden;
        height: 45px;
        text-align: justify;
        line-height: 1.2;
    }

    .article-wrapper article:after {
        clear: both;
    }
    
    .article-info__date {
        font-size: @pad-font-size;
        color: @article-author-color;
    }

    .article-info__author {
        padding-left: 30px;
        font-size: @pad-font-size;
        color: @article-author-color;
    }

    .article-info__gallery {
        padding-left: 30px;
        padding-right: 30px;
        font-size: @pad-font-size;
        color: @article-author-color;
    }

    article h2 {
        font-size: @desktop-font-size;
        color: @article-header-color;
        padding: 30px 30px 20px 30px;
        height: 25px;
        line-height: 1.2;
        overflow: hidden;
        margin-bottom: 25px;
    }

    .load-more {
        display: inline-block;
        font-family: "Lato regular", "Lato";
        font-size: 12px;
        color: #e1632a;
        border-style: solid;
        border-width: 1px;
        border-color: #e1632a;
        background-color: #ffffff;
        width: 90px;
        height: 30px;
        padding: 7px;
        text-align: right;
        position: relative;
        outline: none;
    }

    .load-moreimg {
        text-align: left;
        top: 50%;
        position: absolute;
        left: 7px;
        margin-top: -7px;
        width: 15px;
        height: 15px;
    }
        
    .slider{
     .slider__slide{
       p{
        display:none;
       }
     }
    }
}

@media only screen
and (min-width: 1px)
and (max-width: 599px) {
    
    .main {
        width: auto;
        margin: 50px 20px 0 20px;
    }

    .article-wrapper:nth-last-child(n) {
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
    }

    .article-wrapper {
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        margin-right: 0px;
    }

    .article-wrapper article {
        margin-bottom: 30px;
        border: 1px solid @article-border;
        border-top: none;
        border-left: none;
        border-right: none;
        box-shadow: none;
        color: @article-description-color;
    }


    .article-wrapper article p {
        font-size: @mobile-font-size;
        color: @article-description-color;
        padding: 30px;
        overflow: hidden;
        height: 30px;
        line-height: 1.2;
        word-break: break-word;
    }
     .article-wrapper article:after {
        clear: both;
    }

    .article-info__date {
        font-size: @pad-font-size;
        color: @article-author-color;
    }

    .article-info__author {
        padding-left: 30px;
        font-size: @pad-font-size;
        color: @article-author-color;
    }

    .article-info__gallery {
        padding-left: 30px;
        padding-right: 30px;
        font-size: @pad-font-size;
        color: @article-author-color;
    }

    article h2 {
        font-size: @desktop-font-size;
        color: @article-header-color;
        padding: 30px 30px 20px 30px;
        height: 25px;
        line-height: 1.2;
        overflow: hidden;
        margin-bottom: 25px;
    }

    .article-info__pill {
        display: inline-block;
        padding-left: 20px;
        margin-left: 20px;
        line-height: 1.4;
        font-size: 13px;
    }

    .article-info__pill:first-child {
        display: inline-block;
        padding-left: 20px;
        margin-left: 30px;
        line-height: 1.4;
        font-size: 13px;
    }
    .btn--more {
        margin: 20px 0px 30px 30px;
        font-family: 'Lato';
        width: 109px;
        height: 30px;
        font-family: 'Lato-Regular';
        font-size: 15px;
        color: @article-header-color;
        text-align: center;
        border-style: solid;
        border-width: 1px;
        border-color: @article-header-color;
        background-color: @btn-background-color;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .load-more {
        display: inline-block;
        font-family: "Lato regular", "Lato";
        font-size: 10px;
        color: #e1632a;
        border-style: solid;
        border-width: 1px;
        border-color: #e1632a;
        background-color: #ffffff;
        width: 80px;
        height: 25px;
        padding: 6px;
        text-align: right;
        position: relative;
        outline: none;
    }

    .load-moreimg {
        text-align: left;
        top: 50%;
        position: absolute;
        left: 7px;
        margin-top: -7px;
        width: 15px;
        height: 15px;
    }
    
    .slider{
      .slider__slide{
        h2{
          display:none;
        }
        p{
          display:none;
        }
      }
    }
}

@media only screen
and (min-width: 612px)
and (max-width: 1024px) {

    .btn--more{
        margin: 10px 0px 30px 30px;
        height: 35px;
        width: 119px;
        text-align: center;
        color: @btn-more-color;
        font-size: @pad-font-size;
        border: 1px solid @article-header-color;
        background-color: @btn-background-color; 
        font-family: 'Lato';
    }
}

@media all
and (min-width: 612px)
and (max-width: 1024px) {
    .btn--more{
        margin: 10px 0px 30px 30px;
        height: 35px;
        width: 119px;
        text-align: center;
        color: #747474;
        font-size: @pad-font-size;
        border: 1px solid #515151;
        background-color: #ffffff; 
        font-family: 'Lato';
    }
}

@media only screen
and (max-width: 323px) {
   
    .article-info__pill {
        display: inline-block;
        padding-left: 20px;
        margin-left: 20px;
        line-height: 1.4;
        font-size: @mobile-font-size;
        margin-bottom: 10px;
    }

    .article-info__pill:first-child {
        display: inline-block;
        padding-left: 20px;
        margin-left: 30px;
        line-height: 1.4;
        font-size: 13px;
    }

    .article-wrapper article p {
        font-size: @mobile-font-size;
        color: @article-description-color;
        padding: 30px;
        overflow: hidden;
        height: 30px;
        line-height: 1.2;
    }

    article h2 {
        font-size: @desktop-font-size;
        color: @article-header-color;
        padding: 30px 30px 20px 30px;
        height: 25px;
        line-height: 1.2;
        overflow: hidden;
        margin-bottom: 25px;
    } 
} 
