//Variables
@article-picture: url("../../images/main/Layer%207.png");

@media all
and (max-width: 298px) {
    .latest__article{
        height: auto;
        .article__content{
            height: auto;
            position: static;
            .article__informations{
                .article__author.article_info{
                    font-size: 13px;
                    padding-top: 4px;
                }
                .article__date.article_info{
                    font-size: 13px;
                    padding-top: 4px;
                }
                .article__gallery.article_info{
                    font-size: 13px;
                    display: block;
                    padding-top: 4px;
                }
            }
            .article_description{
                text-align: justify;
                font-size: 13px;
            }
        }
        .article__img{
            display: none;
        }
        .article__picture img{
            display: block;
            width: 44%;
            height: 186px;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

@media all
and (min-width: 299px)
and (max-width: 450px) {
    .latest__article{
        width: 100%;
        height: 507px;
        .article__img{
            display: none;
        }
        .article__picture img{
            display: block;
            height: 186px;
            margin-left: auto;
            margin-right: auto;
        }
        .article__content{
            position: absolute;
            height: auto;
            width: 100%;
            .article__title{
                font-size: 18px;
            }
            .article__informations{
                .article_info{
                    padding-left: 20px;
                    padding-top: 4px;
                }
                .article__author.article_info{
                    font-size: 13px;
                }
                .article__date.article_info{
                    font-size: 13px;
                }
                .article__gallery.article_info{
                    font-size: 13px;
                    display: block;
                    margin-top: 10px;
                }
            }
            .article_description{
                text-align: justify;
                width: 100%;
                font-size: 13px;
                height: 72px;
                overflow: hidden;
                box-sizing: border-box;
                padding: 10px 30px 25px 30px;
            }
             .last--more{
            margin: 30px 0px 30px 30px;
            height: 43px;
            width: 133px;
            text-align: center;
            color: #747474;
            font-size: 18px;
            border: 1px solid #515151;
            background-color: #ffffff; 
            font-family: 'Lato';
        }
        }
    }
    .main{
        position: relative;
    }

    
}

@media all
and (min-width: 451px)
and (max-width: 612px){
    .latest__article{
        height: auto;
        width: 100%;
        .article__content{
            width: 100%;
            position: static;
            height: auto;
            .article__informations{
                text-align: left;
                .article__author.article_info{
                    font-size: 13px;
                    padding-top: 4px;
                }
                .article__date.article_info{
                    font-size: 13px;
                    padding-top: 4px;
                }
                .article__gallery{
                    font-size: 13px;
                    padding-top: 4px;
                }
            }
            .article_description{
                width: 90%;
                font-size: 13px;
            }
   
        }
        .article__img{
            display: none;
        }
        .article__picture img{
            display: block;
            height: 186px;
            padding-left: 4%;
            padding-right: 2%;
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
.latest__article:after {
    clear: both;
}
@media all
and (min-width: 612px)
and (max-width: 1024px) {
    .latest__article{
        width: 100%;
        height: 408px;
        .article__content{
            text-align: justify;
            width: 42%;
            .article__informations{
                text-align: left;
                .article__author.article_info{
                    font-size: 15px;
                }
                .article__date.article_info{
                    font-size: 15px;
                    display: block;
                }
                .article__gallery{
                    font-size: 15px;
                }
            }
            .article_description{
                font-size: 15px;
                height: 111px;
                width: 85%;
            }
             .last--more{
            margin: 30px 0px 30px 30px;
            height: 43px;
            width: 133px;
            text-align: center;
            color: #747474;
            font-size: 18px;
            border: 1px solid #515151;
            background-color: #ffffff; 
            font-family: 'Lato';
        }
        }
        .article_info{
            padding-bottom: 10px;
            display: block;
        }
        .article__img{
            width: 56%;
            margin-top: 14px;
        }
    }
}

@media all
and (min-width: 1024px)
and (max-width: 1200px){
    .latest__article{
        width: 100%;
        .article__content{
            width: 40%;
            .article__informations{
                .article__gallery{
                    display: block;
                }
            }
        }
    }
}
