@media only screen
and (min-width: 1px)
and (max-width: 568px) {

    .menu-left {

        .left-arrow {
            background: @left-arrow-ico;
        }

        .search-article {
            height: 40px;
            width: 190px;
            font-size: 13px;
            line-height: 2;
            background-size: 15px 15px;
        }

        .show-error {
            width: 190px;
            text-align: center;
        }

        .editor-list h2 {
            background: @edit-mode-ico;
            background-size: 15px 15px;
            font-size: 15px;
        }

        .resources-list h2 {
            background: @resources-ico;
            background-size: 15px 15px;
            font-size: 15px;
        }

        &.show-menu-left{
          width: 100%
        }
    }
}


@media only screen
and (min-width: 569px)
and (max-width: 1180px){
  .menu-left .search-article {
        width: 160px;
        height: 40px;
        font-size: 15px;
        line-height: 2;
    }
}

