
@media only screen
and (max-width: 568px) {

    .slider-menu {
        min-height: 100%;
        border-bottom: 1px solid #ebebeb;
        box-shadow: 0 3px 3px rgba(0,0,0,0.14);

       .scrolling ul a,
       .scrolling ul a:hover {
            font-size: 13px;
            padding: 15px 0 15px 62px;
        }

    }
}

@media only screen
and (min-width: 569px)
and (max-width: 1180px) {
    .slider-menu {
        width: 210px;

        .scrolling{

            .search-article {
                width: 160px;
                height: 40px;
                font-size: 15px;
                line-height: 2;
            }

            h2 {
               font-size: 17px;
            }

            ul a {
                font-size: 15px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 15px 0px 15px 62px;
            }
        }
    }
}