@media only screen
and (min-width: 1px)
and (max-width: 699px) {

  .right-menu-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.56);
    height: 100%;
    width: 100%;

    .menu-right {
      background-color: #f7f7f7;
      width: 100%;
      height: auto;
      min-height: 0%;
      border-bottom: 1px solid #ebebeb;
      box-shadow: 0 3px 3px rgba(0,0,0,0.14);

      .user {
        width: 40px;
      }

      .user-details .user-name {
        color: #000;
        font-size: 13px;
        margin-left: 25px;
      }
      .article-recent {

        .title-recent {
          color: #000;
          font-size: 13px;
          background: url("../images/right_menu/file-black.png") no-repeat left;
          background-size: 15px 15px;
        }

        .recent-list a {
          color: #000;
          font-size: 13px;
        }
      }
    }
  }
}