<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>UI School</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->
    <link href="assets/css/main.compiled.css" rel="stylesheet">
    <link href="assets/css/reset.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="assets/js/FullArticleReadMore.js"></script>
</head>
<body>    

    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      {{>partials/header}}
      <hr>
      <div class="container" style="width: 1265px; margin: 0px auto; height: 900px; background-color: cornflowerblue;">
          <!-- <h1> Placeholder pentru pagina articolului. </h1> -->
          {{>partials/article}}
      </div>

      {{>partials/footer}}
    </div>

    <script src="assets/js/Thunderstorm.js"></script>
    <script src="assets/js/persistence.js"></script>
    <script src="assets/js/get.js"></script>
    <script src="assets/js/utility.js"></script>
    <script src="assets/js/API.js"></script>
    <script src="assets/js/UI.js"></script>

    <!-- TODO: de sters la un moment dat server-data-test.js>
    <script  src="assets/js/server-data-test.js"></script-->
</body>


</html>

