<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>UI School</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" href="assets/images/ico/favicon.ico" type="image/x-icon" />
      <link href="assets/css/main.compiled.css" rel="stylesheet">
      <link href="assets/css/reset.css" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <link href="assets/css/mio.css" rel="stylesheet">

      <!--script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script-->
 
  </head>
  <body>
      <!--[if lt IE 7]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      <div class="container">
        {{>partials/header}}
        {{>partials/slider}}
        {{>partials/main}}
        <div class="clearfix"></div>
        {{>partials/footer}}
      </div>
  
      <script src="assets/js/Thunderstorm.js"></script>
      <script src="assets/js/modules/persistence.js"></script>
      <script src="assets/js/modules/utility.js"></script>
      <script src="assets/js/modules/API.js"></script>
      <script src="assets/js/modules/articles.js"></script>
      <script src="assets/js/UI/main.js"></script>
      <script src="assets/js/modules/slider.js"></script>
  </body>
</html>

