<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>UI School</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" href="assets/images/ico/favicon.ico" type="image/x-icon" />
      <link href="assets/css/main.compiled.css" rel="stylesheet">
      <link href="assets/css/reset.css" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <link href="assets/css/mio.css" rel="stylesheet">
  </head>
  <body>
      <!--[if lt IE 7]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
  
      <div class="container">
        {{>partials/header}}
        {{>partials/slider}}
        {{>partials/main}}
        {{>partials/footer}}
      </div>
  
      <script src="assets/js/Thunderstorm.js"></script>
      <script src="assets/js/modules/persistence.js"></script>
      <script src="assets/js/modules/utility.js"></script>
      <script src="assets/js/modules/API.js"></script>
      <script src="assets/js/modules/articles.js"></script>
      <script src="assets/js/UI/main.js"></script>
      <script src="assets/js/modules/slider.js"></script>

<script>
function loadMoreLogic($selector) {
    var page = $('.load-more').data('page');
    var lastArticleIndex = $('.article-wrapper').last();
    lastArticleIndex = lastArticleIndex.find('article').data('articleIndex');
    lastArticleIndex = lastArticleIndex || 0;
    //salvam index-ul paginii pe care vrem sa-l incarcam. Asta inseamna ca daca am nevoie de pagina x, o sa fie foarte usor sa o incarc.
    THUNDERSTORM.modules.articles.generateArticles(THUNDERSTORM.modules.articles.pages[page], articlesParent, lastArticleIndex);
    page = page + 1;
    $selector.animate({left : 0}, 100);
}

function toggleLoadMore(page) {
    if (page < Object.keys(THUNDERSTORM.modules.articles.pages).length) {
        loadMore.data('page', page);
        return true;
    } else {
        loadMore.hide('fast');
        console.log('reached limit')
        return false;
    }
}

$(".main--homepage").on("swipeleft", '.latest__article, .article-wrapper', function () {
    var $this = $(this);

    $this.animate({left : '-200px'}, 200, function () {
        if ($this.next().length) {
            $this.hide();
            $this.next().css({left:0}).fadeIn();
        } else {
            if (toggleLoadMore($('.load-more').data('page'))) {
                loadMoreLogic($this);
            } else {
                $this.animate({left : 0}, 100);
            }
        }
    });
});

$(".main--homepage").on("swiperight", '.latest__article, .article-wrapper', function () {
    var $this = $(this);

    $this.animate({left : '200px'}, 200, function () {
        if ($this.prev().length) {
            $this.hide();
            $this.prev().css({left : 0}).fadeIn();
        } else {
            $this.animate({left : 0}, 100);
        }

    });
});
      </script>
  </body>
</html>

